.flex { display : flex }
.flexAl-center { display: flex; align-items: center;}
.flex-column {  display: flex; flex-direction: column;}
.mR10 { margin-right: 10px;}
.mL10 { margin-left: 10px;}
.mT10 { margin-top: 10px;}