:root 
{
  --bgcolor--1 : #f7f7f8;
 --sidebar_bgcolor--1 : #333652;
 --primary-text-color : #fff;
 --btn-primary : #028476


}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body { 
  font-family: 'Jost', sans-serif; 
  font-size: 1rem;
}


 /* primary color : #f7f7f8
 sidebar color : #333652 */

a {
  text-decoration: none;

}
.container 
{
  display : flex;
  height : 100vh;
}

.sidebar 
{
  flex : 1;
  background: var(--sidebar_bgcolor--1) ;
  color : var(--primary-text-color);
  font-size :  1.4rem;
}

.sidebar__wrapper 
{
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  margin-top  : 8rem;
  justify-content: center ;
}

.sidebar--values 
{
  padding : 2px 0px;
}

.container__main 
{
  flex :  4;
  background-color: var(--bgcolor--1);
}

.project--modal 
{
  border: 2px solid black;
  width : 360px;
  height : 300px;
  margin : 0 auto;
}

.input 
{
  text-decoration: none;
  border : 1px solid #E9EAEC;
}

.field {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top : 0.8rem;
}

.field--label { font-size: 0.9rem; font-weight: bold;}

.input--text
{
  margin-top : 0.8rem;
  padding : 10px;
  width   : 18rem;
}

.btn 
{
   border : none;
   text-decoration: none;
   padding : 10px;  
}

.btn-primary 
{
  background: var(--btn-primary);
}