.pro-sidebar {width: 280px; height: 100%;border-right: 1px solid #F4F8FB; box-sizing: border-box;line-height: 35px; justify-content: start;}
.pro-sidebar__list { padding: 2px 15px;border-radius: 24px; cursor: pointer;}
.pro-sidebar__optioncontainer {  align-self: center ;}
.pro-sidebar__list:hover{ background: #f7f7f7;}

.pmt_card--type1 { width: 200px;height: 100px;background: #fff;box-shadow: 0px 10px 10px #f7f7f7;border-radius: 4px; display: flex;justify-content: center; align-items: center;padding: 10px;}
.pmt_card--name{background: #6269CD;width: 50px;height: 50px;display: flex;align-items: center;justify-content: center;   color: #fff;font-size: 20px;font-weight: bold;border-radius: 50%; margin-bottom: 2px;}

.btn-md { width : 120px; height: 40px; padding: 8px; border : none; color: #fff;}
.btn-create { background: #1DC690;}